#app-container {
    margin: 0;
    padding: 0;
    background-image: url('./assets/campaign-manager.gif');
    height: 100vh;
    /* width: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
}
#header {
    background-color: transparent;
}
#footer {
    background-color: transparent;
}
.silver-text {
    color: 	#fff;
}
#welcome-text {
    color: 	#fff;
}

/* .tile {
    margin-left: 20px;
    display: flex;
    opacity: 90%;
    
}
.padding {
    padding-left: 30px;
} */
.navbar-brand {
    font-size: larger;
}

.button {
    margin-top: 10px;
}

.footer {
    /* position: absolute; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}